<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-fab extended class="fab-button">
    <a routerLinks="Home">Home</a>
  </button>
  <button mat-fab extended class="fab-button">
    <a routerlink=" Connexion">Sign in</a> 
  </button>
  <button mat-fab extended class="fab-button">
    <a routerlink="Home/Inscription">Sign up </a>
  </button>
  <section>
    <div class="example-button-row">
      <button mat-raised-button class="signout-button">Sign out</button>
    </div>
  </section>
</mat-toolbar>
